<!DOCTYPE html>
<html>

<body>


	<form action="/solarhome/working" method="post">
		<label for="fname">Style</label><br>
		<input type="text" name="style" required><br>
		<label for="lname">Size</label><br>
		<input type="number" name="size" required><br><br>
		<label for="lname">Sunlight Index</label><br>
		<input type="number" name="index" required><br><br>
		<label for="lname"> Facing Cardinal Direction</label><br>
		<input type="text" name="cardinal_direction" required><br><br>
		<label for="lname"> Solar Heating Type</label><br>
		<input type="text" name="heating_type" required><br><br>
		<input type="submit" value="Submit">
	</form>


</body>

</html>