<!DOCTYPE html>
<html>

<body>


	<form action="/reusablerocket/working" method="post">
		<label for="fname">Rocket Name</label><br>
		<input type="text" name="name" required><br>
		<label for="lname">Height</label><br>
		<input type="text" name="height" required><br><br>
		<label for="lname">Rocket payload capacity</label><br>
		<input type="number" name="capacity" required><br><br>
		<label for="lname"> Number of re-uses</label><br>
		<input type="number" name="reuses" required><br><br>
		<input type="submit" value="Submit">
	</form>


</body>

</html>