<!DOCTYPE html>
<html>

<body>


	<form action="/hybridcar/working" method="post">
		<label for="fname">Make</label><br>
		<input type="text" name="make" required><br>
		<label for="lname">Model</label><br>
		<input type="text" name="carmodel" required><br><br>
		<label for="lname">Year</label><br>
		<input type="number" name="year" required><br><br>
		<label for="lname"> Engine Type</label><br>
		<input type="text" name="engine_type" required><br><br>
		<label for="lname"> Efficency Index</label><br>
		<input type="number" name="index" required><br><br>
		<input type="submit" value="Submit">
	</form>


</body>

</html>